.custom-img-size{
    height: 50px;
    width: 50px;
}
.bg-custom-sidebar {
    background: #191b2a !important;
}


.card-primary.card-outline-tabs>.card-header a.active {
      border-top: 3px solid #2fc296;
    }

    .add-btn {
      position: absolute;
      right: 9px;
      top: 2px;
    }

    .btn-danger {
      background-color: #e26005 !important;
      border-color: #e26005 !important;
    }

    .tag-small {
      font-size: 11px;
      background: #99d6c4;
      border: 1px solid #2fc296;
      border-radius: 9px;
      width: auto;
      padding: 3px 10px;
      color: black;
    }

    .tag-small-warning{
      font-size: 11px;
      background: #e6d08d;
      border: 1px solid #fcbf07;
      border-radius: 9px;
      width: auto;
      padding: 3px 10px;
      color: black;

    }

    .tag-small-purple{
      font-size: 11px;
      background: #c8a6db;
      border: 1px solid #9c5edb;
      border-radius: 9px;
      width: auto;
      padding: 3px 10px;
      color: black;

    }

    .tag-small-danger{
      font-size: 11px;
      background: #ea9f6a;
      border: 1px solid #e26005;
      border-radius: 9px;
      width: auto;
      padding: 3px 10px;
      color: black;
    }

    .form-group.mt-4{
          margin-top: 20px !important;
    }

      INPUT[type=checkbox]:focus {
        outline: 1px solid rgba(0, 0, 0, 0.2);
    }

    INPUT[type=checkbox] {
        background-color: #DDD;
        border-radius: 2px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 17px;
        height: 17px;
        cursor: pointer;
        position: relative;
        top: 5px;
    }

    INPUT[type=checkbox]:checked {
        background-color: #e26005;
        background: #e26005 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
    }

label {

  font-size: 14px;

  margin: 0rem !important;

}

.form-group {

  margin-bottom: 0.5rem !important;

}

span.custom-text-danger {

  font-weight: 500;

  color: red !important;

  font-size: 14px;

}

.bg-custom-sidebar {

  background: #191b2a !important;

}

.card-custom-header {

  background: #2fc296 !important;

}

.tooltip-container {position: relative;top: -4px;margin-left: 5px;}



.tooltip-container .tooltip-icon {

  font-size: 20px;

  cursor: pointer;

}



.tooltip-wrapper {
  position: absolute;
  top: 44px;
  left: 20px;
  transform: translateX(-100%);
  background-color: #fff;
  display: none;
  padding: 30px 20px;
  width: 350px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2), 1px 0px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}



.tooltip-wrapper::before {content: "";position: absolute;top: -15px;right: 0px;transform: translateX(-50%);width: 0px;height: 0px;border-top: 0px solid transparent;border-right: 15px solid transparent;border-bottom: 15px solid rgb(235, 235, 235);border-left: 15px solid transparent;}



.tooltip-content .tooltip-title p {

  margin-bottom: 10px;

  font-size: 16px;

  font-weight: bold;

}



.tooltip-content .tooltip-input {

  width: 100%;

  min-height: 40px;

  border: 1px solid lightgray;

  padding: 0px 10px;

  font-size: 16px;

  margin-bottom: 20px;

}

.tooltip-content .tooltip-input:focus {

  outline: 0;

  border-color: lightblue;

}



.tooltip-btn-container {

  display: flex;

  align-items: center;

}

.tooltip-btn-container .tooltip-btn {

  border: 1px solid #007bff;

  background-color: #fff;

  outline: 0;

  width: 80px;

  height: 30px;

  border-radius: 30px;

  cursor: pointer;

}



.tooltip-btn-container .tooltip-btn.save-btn {

  background-color: #007bff;

  color: #fff;

  margin-right: 20px;

}



.tooltip-wrapper.active {

  display: block;

}

.custom-align{
  align-items: center;
  justify-content: center;
}
.expandable-body .table {
    width: 100% !important;
    margin: 0 0 0 0px !important;
}
li.breadcrumb-item a {
    color: #2fc296;
}

ul.pagination {
    margin: 15px 0 !important;
}
ul.pagination  .page-link {
    padding: 5px 10px !important;
}
ul.pagination .page-item.active .page-link {
    background-color: #2fc296 !important;
    border-color: #2fc296 !important;
}
.dropdown-menu.dropdown-menu-lg.dropdown-menu-right ul {
    list-style: none;
    padding-left: 0px;
}
.btn-success {
    color: #fff;
    background-color: #2fc296 !important;
    border-color: #2fc296 !important;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #17a178 !important;
  border-color: #17a178 !important;
}

.btn{
  color: #fff !important;
}

.btn-warning{
  color: #fff;
  background-color: #e6b216 !important;
  border-color: #e6b216 !important;
}

.btn-warning:hover{
  color: #fff;
  background-color: #c89703 !important;
  border-color: #c89703 !important;
}

.text-success{
  color: #2fc296 !important;
}
.text-danger{
color: #ff6a00 !important;
}

.badge-success{
  color: #fff !important;
  background-color: #2fc296 !important;

}

.custom-file-label::after {
    padding: 5px 0.75rem !important;
}
.custom-file-label {
    padding: 4px 0.75rem !important;
    /* height: 31px !important; */
}
.custom-file-input {
    height: 31px !important;
}
.profile-user-img {
    border: 2px solid #adb5bd !important;
    padding: 0px !important;
    margin: initial;
    width: 100px !important;
    height: 100px !important;
    object-fit: cover;
}
.nav-pills .nav-link:not(.active):hover {
    color: #e95128;
}
.nav-pills .nav-link.active{
    color: #fff;
    background-color: #e95128 !important;
}
a.pro-li {
    display: flex;
    align-items: center;
}
a.pro-li span {
    display: block;
    margin-right: 15px;
    color: #e95128;
}

a{
  color: black;
}
.sign-in{
    background: #e95128;
}

a:hover{
  color: #e95128;;
}
.dropdown-menu.dropdown-menu-lg.dropdown-menu-right {
    padding: 10px 15px;
}
span .profile-small {
    width: 70px;
    height: 70px;
}

.dropdown-menu.dropdown-menu-lg.dropdown-menu-right .dropdown-item:focus, .dropdown-menu.dropdown-menu-lg.dropdown-menu-right .dropdown-item:hover {
    color: #e95128;
    text-decoration: none;
    background-color: #fff;
}
.card-success:not(.card-outline)>.card-header {
    background-color: #2fc296 !important;
}
.card-success.card-outline {
    border-top: 3px solid #2fc296 !important;
}
.list-group-item a {
    color: #e95128 !important;
}
button.btn.btn-danger.logout-button.w-100{
  background-color: #2fc296 !important;
    border-color: #2fc296 !important;
}
.dropdown-menu.dropdown-menu-lg.dropdown-menu-right a:last-child {
    border-top: 1px solid #2fc296;
    padding-top: 15px !important;
}
.dropdown-menu.dropdown-menu-lg.dropdown-menu-right .dropdown-item {
    padding: 5px 0px !important;
}
a.pro-li.dropdown-item {
    color: #e95128;
}
.covertabs-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.covertabs-btn ul.nav.nav-tabs li.nav-item a.nav-link {
    color: #2fc296 !important;
    border-radius: 0px !important;
    border: 1px solid #2fc296 !important;
}
.covertabs-btn ul.nav.nav-tabs li.nav-item a.nav-link.active{
  background-color: #2fc296 !important;
  color: #fff !important;
}
.covertabs-btn .nav-tabs {
    border-bottom: none !important;
}




/*loader css*/
.cover-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 10px solid #2fc296;
  border-right: 10px solid #2fc296;
  border-bottom: 10px solid #2fc296;
  border-left: 10px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.cover-loader-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.loader-modal,
.loader-modal:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader-modal {
  margin: 60px auto;
    font-size: 5px;
    position: relative;
    text-indent: -9999em;
    border-top: 5px solid #2fc296;
    border-right: 5px solid #2fc296;
    border-bottom: 5px solid #2fc296;
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.preview{
      width: 130px;
    height: 140px;

}

span.text-size{
  font-size:0.8rem;
}



.custom-card-shasow{
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(233 81 40)!important;
}
    /* input {
      font-family: IBM Plex Sans, sans-serif !important;
      font-size: 12px !important;
      letter-spacing: 0.01em;
      height: auto;
    }

    select {
      font-family: IBM Plex Sans, sans-serif !important;
      font-size: 12px !important;
      letter-spacing: 0.01em;
      height: auto;
    }

    textarea,
    .input-group-text {
      font-family: IBM Plex Sans, sans-serif !important;
      font-size: 12px !important;
      letter-spacing: 0.01em;
      height: auto;
    }

    label {
      font-family: IBM Plex Sans, sans-serif !important;
      font-size: 12px !important;
      letter-spacing: 0.01em;
      height: auto;
    }

    .card-title {
      font-family: IBM Plex Sans, sans-serif !important;
      font-size: 14px !important;
      letter-spacing: 0.01em;
      height: auto;
    }

    .btn {
      font-family: IBM Plex Sans, sans-serif !important;
      font-size: 12px !important;
      letter-spacing: 0.01em;
      height: auto;
    }
*/
    .modal-title {
      font-family: IBM Plex Sans, sans-serif !important;
      font-size: 14px !important;
      letter-spacing: 0.01em;
      height: auto;
    }

    /* .sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(180px - 0.5rem * 2);

}

    .main-sidebar, .main-sidebar::before {
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width: 180px;
}

    @media (min-width: 768px){
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 180px;
}
    } */
